@media (min-width: 1024px) {

    .header {
      position: fixed;
      top: 0;

    }
  
    .header.active .header-container {
      width: 100%;
      max-width: 1050px;
     padding-block: 0;
    } 

    .header-container {
      padding-block: 0;
      padding: 5px 10px;
    }
  
    .actionMenu {
      right: 1px;
      top: 15vh;
      transform: rotate(90deg);
    }
  
    .statusIndicator {
      transform: rotate(-85deg);
    }
  
    .mobileMenuBtn {
      display: none;
    }
  
    .header-nav {
      display: flex;
    }
  
    .header-nav-ul {
      display: flex;
      gap: 2rem;
    }
  
    .pageIndicator {
      display: none;
    }
  
    .heroIntro {
      align-items: flex-start;
     
    }
    .hero-container {
      flex-direction: row;
    }


  
    .experience-role {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 10px;
    }
  
    .job {
      max-width: 70vw;
    }
  
    .job-ul {
      max-width: 750px;
      flex-direction: row;
    }
  
    .experiences .flex-container {
      flex-direction: column;
    }
  
    .skills .flex-container {
      flex-direction: column;
    }
  
    .skill-ul {
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      max-width: 100%;
    }
  
    .skills {
      max-width: 80vw;
      margin: auto;
    }
  
    .skill-card {
      flex-direction: row;
    }
  
    .skill-title {
      max-width: 400px;
      height: 100%;
      min-height: 300px;
      border-bottom: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .skills .skills-ul {
      width: 100%;
      min-height: 300px;
    }
  
    .contact-container {
      flex-direction: row;
      justify-content: start;
      width: 100%;
      max-width: 80vw;
      margin: auto;
      gap: 2rem;
    }
  
    .contact-description {
      max-width: 40vw;
    }
  
    .links-container {
      align-items: flex-start;
    }
  }
  