/* Mobile First StyleSheet */

:root {
    --text-alt: #1d2731; 
    --line-height: 1.5;
    --border-radius: 4px;
    --transition: 500ms ease-in-out;
    --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
    --gold: #ffd700;

    --flamingo-100: #ffe4e4;
    --flamingo-200: #ffb6b6;
    --flamingo-300: #ff8989;
    --flamingo-400: #ff7777;
    --flamingo-500: #ff5858;

    --gradient: radial-gradient(circle,rgba(255, 88, 88, 1) 0%, rgba(0, 0, 0, 1) 88%);


}

body.dark-theme {
    --bg-primary: hsl(0, 0%, 12%);;
    --bg-secondary: hsl(0, 0%, 19%);
    --text-primary: hsl(0, 0%, 100%);
    --text-secondary: hsl(0, 0%, 62%);

    --button-bg: #fff;
    --button-text: #000;
    --button-hover-bg: #1d1d1d;
    --button-hover-text: #f1f1f1;
    --shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}
body.light-theme {
  --bg-primary: hsl(0, 0%, 90%);
  --bg-secondary: hsl(0, 0%, 100%);
    --text-primary: hsl(0, 0%, 12%);
    --text-secondary:hsl(0, 0%, 37%);

    --button-bg: #000;
    --button-text: #fff;
    --button-hover-bg: #f1f1f1;
    --button-hover-text: #1d1d1d;
    --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

html {
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%;
    max-width: 100vw;
    width: 100%;
    
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
  min-height: inherit;
  max-width: inherit;
    font-family: Poppins, Roboto, sans-serif;
    line-height: var(--line-height);
    background: var(--bg-primary);
    color: var(--text-primary);
    scroll-behavior: smooth;
    position: relative;
    padding: 3px 4px;
   overflow: auto;


}

a {
    color: var(--text-primary);
    transition: var(--transition);
}

button:hover {
    cursor: pointer;
}




/* Header */

.header {
  position: fixed;
  bottom: 2vh;
  left: 0;
  width: 100%;
  z-index: 60;
  height: fit-content;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 25px;
  transition: var(--transition);
  margin-inline: auto;
  padding-block: 20px;
  z-index: 53;

}

.header.active .header-container {
  width: 100%;
  max-width: 300px;
  background-color: var(--bg-secondary);
  border-radius: 2rem;
  padding-block: 14px;
  margin-block: 6px;
  z-index: 54;
} 


body.scrolling .header.active .header-container {
  max-width: 0;
  opacity: 0;
}  






/* Nav Button */


.menuBtn {
  padding: 8px 6px;
  background: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3px;
  border-radius: 8px;
  border: none;
  z-index: 53;

}

.menuBtn span {
  display: block;
  height: 2px;
  background: var(--text-primary);
}


.menuBtn .first {
  width: 20px;
}

.menuBtn .second {
  width: 15px;
}

.menuBtn .third {
  width: 10px;
}




/* Theme Button */

.themeBtn {
  padding: 4px;
  width: 48px;
  background: var(--bg-secondary);
  border-radius: 100px;
  box-shadow: var(--shadow);
  transition: 500ms ease-in-out;
  border: none;
}

.statusIndicator {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  box-shadow: inset 9px -6px var(--text-primary);
  display: block;
  transition: 500ms ease-in-out;
  position: relative;
  left: 0;
}
.statusIndicator.day {
  left: 20px;
  box-shadow: inset 20px -20px var(--gold);
}


.header-nav {
  display: none;
}

body.scrolling .header.active .themeBtn {
  display: none;
  opacity: 0;
} 


.header.active .themeBtn {
  background: var(--bg-primary);
} 




/* Nav Desktop */

.navDesktop .leftNav {
  display: none;
  justify-content: center;
  align-items: center;
}

.navDesktop .rightNav {
  display: none;
  justify-content: center;
  align-items: center;
}



/* Nav */

.mobileNav {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  z-index: 50;
  transition: 500ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-secondary);
}


.mobileNav.opened {
  left: 0;
}

.mobileNav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    width: 100%;
    height: 65vh;
    background: var(--bg-secondary);
}

.mobileNav-ul li {
  width: 100%;
  padding-inline: auto;
  text-align: center;

}

.mobileNav-ul li a {
  display: block;
  margin: auto;
  padding-block: 3%;
  padding-inline: 20px;

}

.mobileNav .mobileNav-ul li:hover a {
  background: var(--text-primary);
  color: var(--bg-primary);
}



/* Social Nav */

#navSocial {
 display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
 
}






/* action Nav */

.actionNav {
  position: fixed;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  background: var(--text-primary);
  padding: 0.5rem;
  border: 3px solid var(--bg-secondary);
  border-radius: 2rem;
  transition: var(--transition);
  z-index: 65;
}

body:not(.scrolling) .actionNav {
  border-radius: 50%;
}



/* Logo */



.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: var(--text-primary);
  position: relative;
  overflow: auto;
  border: 1px solid var(--bg-primary);
  box-shadow: var(--shadow);
  transition: var(--transition);
}


.logo-text {
  font-size: 30px;
  font-weight: bold;
  color: var(--bg-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spinIn 1s ease-in-out;
}


.logo-left,
.logo-right {
  width: 30px;
  height: 2px;
  display: block;
  background: var(--bg-primary);
  content: "";
 
}

.logo-left {
  position: absolute;
  bottom: 15px;
  left: -15px;
  animation: fadeIn-bottom 1s ease-in-out;
 
}
.logo-right {
  position: absolute;
  top: 13px;
  right: -12px;
  animation: fadeIn-top 1s ease-in-out;
}


#logo.inactive {
  display: none;
  opacity: 0;
} 


/* Page Indicator */

.pageIndicator {
  display: none;
  opacity: 0;
  min-height: fit-content;
  padding-inline: 15px;
  padding-block: 1px;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  justify-content: center;
  background: var(--text-primary);
  color: var(--bg-primary);
  border-radius: 2rem;
  transition: opacity 300ms ease-in-out;
}



.header.active .pageIndicator {
  background: var(--bg-primary);
  color: var(--text-primary);
}

#pageIndicator.actively-scrolling {
  display: flex;
  opacity: 1;
}









/* Main */

:is(.hero, .experiences, .projects, .skills, .contact) {
  min-height: 100vh;
  padding: 5px 10px;
  height: 100%;
  width: 100%;
  padding-inline: 5px;
  padding-block: 2rem;
  border-bottom: 1px solid var(--text-primary);
  border-radius: 2rem;
  margin-block: 2rem; ;
}




/* Hero */




.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding:
2em 3em;
  margin-block:
2rem;
  

}

.heroIntro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  position: relative;
  padding-block: 3em;
}

.watchLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size:  0.8rem;
}

.watchLink a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.watchLink a ion-icon {
  color: crimson;
}

#myName {
  font-size: 1em;
  display: flex;
  flex-direction: column;
}

#myName span {
  font-size: 1.3em;
}

.myTitle {
  display: block;
}



.message {
  color: var(--flamingo-500);
  font-size: 1.2em;
  min-height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 300px;
  min-width: auto;
  background: var(--bg-secondary);
}

.heroName {
  font-size: clamp(2rem, 5vw, 3rem);
  color: var(--flamingo-500);
}

.hero-text {
  margin-top: 2.5em;
  padding: 2rem 0;
}


.contact-btn {
  padding: 5px 15px;
  background: var(--bg-secondary);
  color: var(--text-primary);
  border: 1px solid var(--bg-primary);
  border-radius: 2rem;
  transition: var(--transition);
}

.contact-btn:hover {
  background: var(--text-primary);
  color: var(--bg-primary);
  border: 1px solid var(--bg-secondary);
}

.heroPreview {
  overflow: auto;
}
.previewProject {
 height: fit-content;
}

.previewImg {
  height: 250px;
  border-radius: 2rem;
  transition: 500ms ease-in-out;
}

.previewImg:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.socialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
}


.experiences {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

}

.section-title {
  font-size: 1.2em;
  margin-bottom: 2em;
}

.section-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--text-primary);
  margin-top: 2px;
}





.experiences .flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
 
}

.job-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 300px;
  padding: 0 5px;

}

.job-li {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 3px 0;
  color: var(--text-secondary);
  border: 1px solid var(--bg-primary);
  position: relative;
}

.job-li:hover {
  background: var(--text-primary);
  color: var(--bg-primary);
  cursor: pointer;
}

.job-li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: 0.5s ease-in-out;
  position: relative;
  top: 6px;
}

.job-li:hover::after {
  background: var(--flamingo-500);
  content: "";
  display: block;
  width: 100%;
  min-width: max-content;
  height: 3px;
}

.job-li.active {
  background: var(--text-primary);
  color: var(--bg-primary);
}



.job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.project-title {
  font-size: 1.2em;
  text-align: center;
  color: var(--flamingo-500);
}


.card-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.project-tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.project-tech-item {
  font-size: 0.9em;
  color: var(--flamingo-400);
}


.work-image {
  height: 250px;
  border-radius: 1rem;
}

.repo-live {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.repo-live a {
  padding: 4px 12px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-shadow: var(--shadow);
}

.repo-live a:hover {
  background: var(--text-primary);
  color: var(--bg-primary);
  box-shadow: var(--shadow);
}


.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.skill-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.skill-li {
  padding: 2px 0;
  background: var(--bg-secondary);
  color: var(--text-secondary);min-width: 200px;
  text-align: center;

}

.skill-li.active {
  background: var(--text-primary);
  color: var(--bg-primary);
}

.skill-li:hover {
  background: var(--text-primary);
  color: var(--bg-primary);
  cursor: pointer;
 
}

.skill-li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: 0.5s ease-in-out;
  position: relative;
  top: 6px;
}
.skill-li:hover::after {
  background: var(--flamingo-500);
  content: "";
  display: block;
  width: 100%;
  min-width: max-content;
  height: 3px;
}


.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
  margin-top: 30px;
}

.skill-title {
  background: var(--bg-secondary);
  color: var(--text-primary);
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--text-primary);
}

.skills-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding-block: 10px;
}

.contact-description {
  color: var(--text-secondary);
  font-size: 0.9em;
  max-width: 600px;
 padding-block: 10px;
}

.contact-link {
  padding: 5px 14px;
  box-shadow: var(--shadow);
  border-radius: 2rem;
  background: var(--bg-secondary);
  color: var(--text-primary);
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.contact-link:hover {
  background: var(--text-primary);
  color: var(--bg-primary);
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


.footer {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.hero .social-ul,
.footer .social-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg-secondary);
  padding: 5px 15px;
  border-radius: 2rem;
}


.hero:is(.social-li, .social-li-a),
.footer:is(.social-li, .social-li-a) {
  display: flex;
  justify-content: center;
  align-items: center;
}



.social-li-a ion-icon {
    font-size: 2rem;
    transition: var(--transition);

}

.social-li-a ion-icon:hover {
  transform: scale(1.2);
}

.social-ul .social-li:nth-child(1) .social-li-a ion-icon:hover {
    color: var(--text-primary);
}


.social-ul .social-li:nth-child(2) .social-li-a ion-icon:hover {
  color: dodgerblue;
}

.social-ul .social-li:nth-child(3) .social-li-a ion-icon:hover {
  color: crimson;
}


:is(.skill-li, .job-li):hover {
  cursor: pointer;
}