@media (min-width: 768px) {

  .logo-text {
    display: inline;
  }

  .logoIcon {
    background: none;
    color: var(--text-primary);
    padding: 0;
  }
  
  .header.active .header-container {
    max-width: 500px;
    margin-block: 10px;
  } 



  .job-ul {
    max-width: 550px;
    flex-direction: column;
  }

  .experiences .flex-container {
    flex-direction: row;
  }
  
  .project-card {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-width: 600px;
  }

  .projects-container {
    gap: 4rem;
    padding-block: 15px;
  }

  .card-details {
    justify-content: space-between;
    height: max-content;
  }

  .skills .flex-container {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  .skill-ul {
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 0;
  }

  .skill-li {
    width: 100%;
    text-align: center;
  }

  .skill-set {
    width: 100%;
    text-align: center;
  }

  .skill-card {
    padding-block: 0;
    margin-top: 0;
  }

}
